.userinfo {
   font-family: inherit;
   height: 100px;
   line-height: 20px;
   text-align: left;
   display: flex;

   flex-direction: column;
   align-items: left;
}
.interests {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: fit-content;
}

.interests h1 {
   width: fit-content;
}

.interests form {
   width: 20em;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.interests p {
   width: 5em;
   height: 5em;
   border: solid 1px black;
   border-radius: 10px;
   text-align: center;
   margin: 0;
   padding: 3px;
   margin: .25em;
}

.bio {
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}