.Body {
  margin: 0;
  padding: 0;
  background: none;
}

.logo {
  top: 4em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color5);
  font-size: 80px;
  letter-spacing: -5px;
  transition: all 0.7s ease;
}

.emailarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.passwordarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  resize: none;
}

.Email {
  text-align: left;
}

.Password {
  text-align: left;
}

.loginbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: 50%;
  position: absolute;
  box-sizing: border-box;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox input[type="email"],input[type="password"] {
  border: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: transparent;
  outline: none;
  height: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  top: 50%;
  margin-left: 25%;
  text-align: center;
  outline: none;
  height: 40px;
  width: 100px;
  background: #fb2525;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 9px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffa007;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  margin-left: 24%;
  margin-top: -5%;
  font-size: 11px;
  line-height: 0;
  color: rgb(8, 30, 228);
}

.loginbox a:hover
{
  color: rgb(0, 0, 0);
}