@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,500;0,700;1,200;1,300;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --color1: #386641;
  --color2: #6a994e;
  --color3: #a7c957;
  --color4: #f2e8cf;
  --color5: #bc4749;
  font-family: "Source Serif 4", sans-serif;
}

body {
  position: absolute;
  background-color: var(--color4);
  height: 812px;
  width: 375px;
  border: solid black;
  margin: 50px 30vw;
}