.logo {
  top: 4em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color5);
  font-size: 80px;
  letter-spacing: -5px;
  transition: all 0.7s ease;
  font-weight: 800;
}

.subtext {
  font-weight: 400;
  font-style: italic;
  text-align: center;
  position: relative;
  top: -30px;
  letter-spacing: 0;
  font-size: 25px;
  color: rgb(95, 68, 43);
  opacity: 0;
  transition: all 0.6s cubic-bezier(1,-0.02, 0.25, 1);
}


.button {
  font-family: "Source Serif 4", sans-serif;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: var(--color4);
  padding: 8px 100px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0;
  transition: all 0.6s cubic-bezier(1,-0.02, 0.25, 1);
  box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.button:hover {
  box-shadow: none;
  transition: all 0.2s ease;
}

#button1 {
  padding: 8px 40px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0;
  background-color: var(--color5);
  transition: all 0.6s cubic-bezier(1,-0.02, 0.25, 1);
}
#button2 {
  padding: 8px 40px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0;
  background-color: var(--color1);
  transition: all 0.6s cubic-bezier(1,-0.02, 0.25, 1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 320px;
}

.fade1 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(var(--color4), var(--color3), var(--color1));
  top: 75%;
}

.loginbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.loginbox input {
  font-family: "Source Serif 4", sans-serif;
  font-weight: 400;
  width: 75%;
  margin: 15px 20px;
  background-color: rgb(102, 74, 62);
  box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.loginbox input[type="email"],input[type="password"] {
  border: none;
  border-radius: 5px;
  outline: none;
  height: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 7px;
}
.loginbox input[type="submit"] {
  border: none;
  top: 50%;
  margin-left: 25%;
  text-align: center;
  outline: none;
  height: 40px;
  width: 100px;
  background: var(--color5);
  color: var(--color4);
  font-size: 18px;
  border-radius: 9px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffa007;
  color: #000;
}